.user-table-container {
  width: 100%;
  margin: 20px 0;
  overflow-x: auto;
  padding-right: 10px;
}

.user-table {
  width: 100%;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  table-layout: fixed;
}

.user-table th,
.user-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: normal;
  font-size: 16px;
  word-wrap: break-word;
}

.user-table th {
  background-color: #f4f4f4;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-table td {
  text-overflow: ellipsis;
}

.user-table th .header-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  white-space: nowrap;
}

.user-table th .header-cell input {
  flex-grow: 1;
  min-width: 40px;

  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-table th .header-cell .sort-button {
  padding: 4px 8px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.user-table th .header-cell .sort-button:hover {
  background-color: #0056b3;
}

.user-table th .header-cell .sort-button::before {
  content: "↓";
  display: inline-block;
  transition: transform 0.3s ease;
}

.user-table th .header-cell .sort-button.asc::before {
  transform: rotate(180deg);
}

.user-table tbody tr:hover {
  background-color: rgba(241, 241, 241, 0.8);
  transition: background-color 0.3s ease;
}

@media (max-width: 1024px) {
  .user-table {
    font-size: 12px;
  }

  .user-table th {
    font-size: 12px;
    letter-spacing: 0.8px;
  }

  .user-table th .header-cell {
    gap: 4px;
  }

  .user-table th .header-cell input {
    width: 100%;
    border-right: 1px solid #ddd;
  }

  .user-table th,
  .user-table td {
    padding: 4px;
  }

  .user-table td {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .user-table {
    font-size: 10px;
  }

  .user-table th .header-cell {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .user-table th .header-cell input {
    width: 100%;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
  }

  .sort-button {
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 4px 6px;
  }

  .user-table th,
  .user-table td {
    padding: 5px;
  }

  .user-table td {
    white-space: normal;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .user-table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  .user-table th {
    font-size: 12px;
    letter-spacing: 0.6px;
  }

  .user-table th .header-cell {
    gap: 5px;
  }

  .user-table td {
    font-size: 14px;
  }
}
